

@font-face {
    font-family: 'antolive';
    src: url('../fonts/AntiqueOliNorOutP-Regu.eot');
    src: url('../fonts/AntiqueOliNorOutP-Regu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AntiqueOliNorOutP-Regu.woff2') format('woff2'),
        url('../fonts/AntiqueOliNorOutP-Regu.woff') format('woff'),
        url('../fonts/AntiqueOliNorOutP-Regu.ttf') format('truetype'),
        url('../fonts/AntiqueOliNorOutP-Regu.svg#AntiqueOliNorOutP-Regu') format('svg');
    font-weight: bold;
    font-style: normal;
}


body, button, input, select, optgroup, textarea {
    font-family: Lusitana;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family:'Roboto mono';
    font-weight:600;
}

.site-header {
    position:static;
}

.site-title {
    font-family:antolive;
    font-weight:bold;
    text-transform:uppercase;
}

.site-title {
    font-size: 50px;
    line-height: 90px;
    display: inline-block;
    vertical-align: top;
    float: none;
    text-decoration: none;
    color: azure;
    width:390px;
    height: 80px;
    letter-spacing: -0.15em;
    text-align:center;
    transform: skewX(-7deg);

    animation-name:intro;
    animation-duration:5s;
    animation-iteration-count:1;

    transition:1s;
    position:static;
}

@keyframes intro {
    0% {
        letter-spacing: -0.15em;
        transform: skewX(-7deg)scale(2);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        opacity:0;
    }   
    30% {
        letter-spacing: -0.5em;
        transform: skewX(-7deg)scale(2);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        opacity:1;
    }
}

.headshot {
    min-height:90vh;
    background:url(/assets/legolike.jpg) center / cover no-repeat #000;
}