@font-face {
    font-family: gamer;
    src: url(../fonts/Gamer.ttf);
    font-weight:normal;
}

body {
    background-color: rgb(13, 13, 43);
    color:coral;
    
    font-family: Manrope, Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; 
    margin:0;padding:0;
    font-size: 18px;
    line-height: 1.6;
    overflow: hidden;

    text-shadow:0 0 10px currentColor;

    animation-name: bodyColor;
    animation-duration:20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    transition:.5s;
}

h1,h2, h3, h4, h5, .menu, .menu li {
    font-family:gamer, Verdana, Geneva, Tahoma, sans-serif;
    text-rendering: optimizeSpeed;
    font-smooth: never;
    line-height:1;
}

body.bio-on {
    transform:rotate(-90deg);
}

a {
    color:cornflowerblue;
}

a:active,a:hover {
    color:rgb(162, 195, 255);
}

h1, h2, h3, h4, figure {
    font-weight:normal;
    margin:0 0 10px 0;
}

h1 {
    font-size:48px;
}
h2,h3 {
    font-size:32px;
}

@media(max-width:960px) {
    h1 {
    font-size:32px;
}
    h2,h3 {
        font-size:24px;
    }
}

h1, h2, p, p a {
    animation-name:huerotate;
    animation-duration:10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes huerotate {
    from {
     filter:hue-rotate(0deg);   
    }
    to {
        filter:hue-rotate(360deg);   
       }
}

.titles {
    margin:10vh auto;
    max-width:1200px;
    padding:0 30px;
    text-align:right;
    position:relative;
    z-index:2;
}


.star {
    width:5px;
    height:5px;
    background:#fff;
    border-radius:50%;
    position:absolute;
    z-index:1;
    box-shadow:0 0 5px currentColor;
}

.color-1 {
    color:white;
    background-color: white;
}

.color-2 {
    color:lemonchiffon;
    background-color: lemonchiffon;
}

.color-3 {
    color:lavender;
    background-color: lavender;
}

.color-4 {
    color:pink;
    background-color: pink;
}

.stars-layer {
    width:100vh;
    height:100vh;
    position:absolute;
    z-index:1;
    left:0;top:0;right:0;bottom:0;
    transform-origin:10%;

    animation-name:starzoom;
    animation-duration:2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    overflow: hidden;

    opacity:0;
    transition:.5s;
}

.wrapper {
    width:100vh;
    height:100vh;
    position:absolute;
    z-index:1;
    left:0;top:0;right:0;bottom:0;
    overflow: hidden;
    max-width: 100%;
}

.d1 {
    animation-delay:.25s;
}
.d2 {
    animation-delay:.75s;
}
.d3 {
    animation-delay:1.25s;
}

@keyframes starzoom {
    0% {
        transform:scale(0);
        opacity:0;
    }
    70% {
        opacity:1;
    }
    100% {
        transform:scale(3);
        opacity:0;
    }
}

.avatar img {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    mix-blend-mode: screen;
    animation-name: rotateColor;
    animation-duration:.0005s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition:.2s;

    transform:translateX(20px);
    width:150px;
    height:150px;
}
@media(min-width:768px) {
    .avatar img {
        width:200px;
        height:200px;
    }
}

@keyframes rotateColor {
    0% {
        mix-blend-mode: screen;
    }
    10% {
        mix-blend-mode: soft-light;
    }
    20% {
        mix-blend-mode: color-dodge;
    }
    30% {
        mix-blend-mode: darken;
    }
    40% {
        mix-blend-mode: difference;
    }
    50% {
        mix-blend-mode:exclusion;
    }
    60% {
        mix-blend-mode:hard-light;
    }
    70% {
        mix-blend-mode: multiply;
    }
    80% {
        mix-blend-mode: hue;
    }
    90% {
        mix-blend-mode: saturation;
    }
    100% {
        mix-blend-mode: color-burn;
    }
}

@keyframes bodyColor {
    0% {
        background-color: rgb(13, 13, 43);
    }
    10% {
        background-color: rgb(4, 4, 19);
    }
    20% {
        background-color: rgb(13, 4, 19);
    }
    40% {
        background-color: rgb(27, 9, 39);
    }
    60% {
        background-color: rgb(5, 14, 5);
    }
    80% {
        background-color: rgb(26, 20, 9);
    }
    100% {
        background-color: rgb(13, 13, 43);
    }
}
.icons {
    margin-top:10vh;
}
@media(min-width:768px) {
    .icons {
        margin-top:33vh;
    }
}
.icons svg {
    fill:rgb(255, 127, 80);
    animation-name:huerotate;
    animation-duration:10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.icons a {
    text-decoration:none;
    display:inline-block;
    opacity:.75;
}

.icons a:hover,
.icons a:active
 {opacity:1 }

.icons path {
    filter:drop-shadow(0 0 10px rgba(255, 127, 80,.5));
    
}

.cat {
    width:450px;
    height:auto;
    display:block;
    margin:0 auto;
    position:absolute;
    bottom:-5%;
    left:0;right:10%;
    max-width:80%;
    opacity:.05;

    transform-origin:50% 100%;

    animation-name: gato;
    animation-duration:20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes gato {
    0% {
        transform:scale(1)rotate(-5deg);
        opacity:.05;
    }
    70% {
        transform:scale(1.2)rotate(5deg);
        opacity:.1;
    }
    100% {
        transform:scale(1)rotate(-5deg);
        opacity:.05;
    }
}

.menu {
    display: inline-block;
    list-style: none;
    font-size: 26px;
    line-height: 1;
    padding:0;
    margin: 15px 0px;
    overflow:hidden;
    white-space:nowrap;

    max-width:0;
    max-height:42px;

    animation-name: menuin;
    animation-duration:2s;
    animation-timing-function: steps(7, end);
    animation-iteration-count: once;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    
}


.menu li {
    display:inline-block;
    border:3px solid;
    padding:0 20px;
    
    line-height:36px;
    cursor:pointer;
    vertical-align: top;
    position:relative;
    z-index:1;

    animation-name:huerotate;
    animation-duration:10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.menu li + li {
    margin-left:-3px;
}

.menu li:hover {
    color:white;
    z-index:5;
    animation:none;
}

@media(max-width:960px) {
    .js-goodbye,
    .menu li span {
        display:none;
    }
}

@keyframes menuin {
    from {
        max-width:0;
        max-height:42px;
    }
    to {
        max-width:100%;
        max-height:100%;
    }
}

.modalillo {
    border:3px solid;
    padding:35px 25px 25px 25px;
    max-width:700px;
    max-height: 400px;
    margin:auto;
    position:absolute;
    left:0;right:0;top:0;bottom:0;
    transform-origin:50%;
    z-index:1;
    opacity: .03;
    pointer-events:none;
    display:none;
}
@media(max-width:960px) {
    .modalillo {
         transform-origin:50%;
    }
}

    .modalillo-about {
        max-width:700px;
        max-height: 400px;
        transform:rotate(90deg);
    }



    .modalillo-about-inner {
        max-height: 380px;
        overflow:auto;
    }




    .modalillo-clients {
        max-width:1200px;
        max-height: 600px;
        transform:rotate(-90deg);
    }

    @media(max-width:960px) {
        .modalillo-clients {
            max-height: 640px;
        }
    }

    .modalillo-clients-inner {
        max-height:590px;
        overflow:auto;
    }



body.bio-on {
    transform:rotate(-90deg);
}
body.logos {
    transform:rotate(90deg);
}

body.bio-on .titles > *,
body.logos .titles > * {
    opacity:.025;
}

body.bio-on .titles > .modalillo-about,
body.logos .titles > .modalillo-clients {
    opacity:1;
    pointer-events:all;
    display:block;
}

body.bye {
    background-color: #fff;
    transform:rotate(720deg)scale(0.001);
    transition:1s;
    animation:none;
}
body.bye * {
    transition:1s;
    opacity:0;
}

.clous {
    font-family: gamer, Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    appearance: none;
    background: transparent;
    color: #000;
    font-size: 45px;
    line-height: 28px;
    width: 28px;
    padding: 0;
    margin: 0px;
    border: 0;
    cursor: pointer;
    text-rendering: optimizeSpeed;
    font-smooth: never;
    text-transform: uppercase;
}

.clous:after {
    content:"";
    position:absolute;
    right:0;top:0;
    width:0;
    height:0;display:block;
    border-style:solid;
    border-width:28px;
    border-color:coral coral transparent transparent;
    z-index:-1;
}


.logogrid {
    margin:0;
    padding:0;
    list-style: none;
    text-align: left;
}

.logogrid li {
    margin:0;
    padding:0;
    width:50%;
    height:120px;
    display:inline-block;
    padding:10px;
    box-sizing:border-box;
    vertical-align: top;

    animation-name:logoin;
    animation-duration:500ms;
    animation-iteration-count: once;
}
@media(min-width:769px) {
    .logogrid li {
        width:25%;
    }
}

.logogrid li a {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.logogrid img {
    max-width: 65%;
    height: auto;
    max-height: 60px;

    opacity:.75;
}

.logogrid li a:hover img {
    opacity:1;

}

@keyframes logoin {
    from {
        opacity:0;
        transform:scale(.2)rotate(-45deg);
        
    }
    to {
        opacity:1;
        transform:scale(1)rotate(0);
    }
}

.cat2 {
    position: absolute;
    left: auto;
    top: auto;
    bottom: 75%;
    right: 61%;
    width: 375px;
    height: auto;
    filter: hue-rotate(180deg);
}
@media(max-width:960px) {
    .cat2 {
        bottom: 83%;
        right: 59%;
        width: 225px;
    }
}

